<div class="row">

	<div class="col-md-3">
		<div class="list-group">
			<div data-clampedwidth=".col-md-3" data-spy="affix" class="affix" id="controlsWrapper">
				<a id="loadingMap" class="list-group-item">
					<h4 class="list-group-item-header">
						<img src="img/ajax-loader.gif" /> Loading map...&hellip;
					</h4>
				</a>
				<a id="mapControls" class="list-group-item active" style="display: none"></a>
				<a id="concentrationGraphControls" class="list-group-item" style="display: none">
					<h4 class="list-group-item-header">Graph</h4>
					<p></p>
				</a>
				<a id="thresholdGraphicControls" class="list-group-item" style="display: none">
					<h4 class="list-group-item-header">Visualization</h4>
					<p>Ice coverage by % threshold</p>
				</a>
				<a id="mapAnimationControls" class="list-group-item" style="display: none"></a>
			</div>
		</div>
	</div>

	<!--start 9-column map block-->
	<div class="col-md-9">
		<div id="mapGroupWrapper">
			<div id="animationBuffering" style="display: none" class="panel panel-info">
				<h4><img src="img/ajax-loader.gif" /> Loading map data&hellip;</h4>
			</div>
			<h3 id="mapTitle">Historical Sea Ice Concentration</h3>
			<div id="mapWrapper">
				<div id="map" style="height: 650px"></div>
				<img id="legend" src="img/legend2.png" />
			</div>
		</div>
		<div id="chartWrapper" style="display: none">
			<h3>Average sea ice concentration</h3>
			<p>The graph below shows the historical concentrations of ice in the specified month at the point you selected on the map.  You can change the selected month using the controls in the left sidebar.</p>
			<div id="chart"></div>
		</div>
		<div id="graphicWrapper" style="display: none">
			<h3>Open water over time</h3>
				<p>This interactive chart lets you explore historical ice concentrations at the point you selected on the map.  By adjusting the threshold slider below, the chart will update to show bars where the ice concentration <strong>exceeds</strong> the % ice threshold you have selected.</p>
				<div>
				<input id="thresholdSlider" type="text" data-slider-id="thresholdSliderControl" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="30"/>
	      			<span>&nbsp;Threshold: <span id="thresholdSliderLabel">30</span>&#37;</span>
	      			</div>
	      			<div id="thresholdTarget"></div>
			<div id="openWaterGraphic"></div>
		</div>
	</div>
</div>
