<div class="row">

	<div class="col-md-3">
		<div class="list-group">
			<div data-clampedwidth=".col-md-3" id="controlsWrapper">
				<a id="loadingMap" class="list-group-item">
					<h4 class="list-group-item-header">
						<img src="img/ajax-loader.gif" /> Loading map&hellip;
					</h4>
				</a>
				<a id="mapControls" class="list-group-item active" style="display: none"></a>
				<a id="concentrationGraphControls" class="list-group-item" style="display: none">
					<span class="glyphicon glyphicon-circle-arrow-down pull-right"></span><p class="jumptograph"></p>
				</a>
				<a id="thresholdGraphicControls" class="list-group-item" style="display: none;">
					<span class="glyphicon glyphicon-circle-arrow-down pull-right"></span><p class="jumptograph">Explore ice open/close dates for this location</p>
				</a>
				<a id="mapAnimationControls" class="list-group-item" style="display: none"></a>
			</div>
		</div>
	</div>

	<!--start 9-column map block-->
	<div class="col-md-9">
		<div id="mapGroupWrapper">
			<div id="animationBuffering" style="display: none" class="panel panel-info">
				<h4><img src="img/ajax-loader.gif" /> Loading map data&nbsp;&hellip;</h4>
			</div>
			<h2 id="mapTitle">Historical sea ice concentration</h2>
			
				<div id="mapWrapper">
					<div id="map"></div>
					<img id="legend" src="img/legend2.png" />
				</div>

		</div><!-- end mapGroupWrapper -->
<h2 id="plottedDataHeader"></h2>	
<div id="chartWrapper">
			<h3>
				<span id="chartTitle"></span>
				<button class="btn btn-warning btn-xs pull-right" data-toggle="modal" data-target="#chartModalInfo"> More info</button>
				<a class="btn btn-warning btn-xs pull-right" id="concentrationCsv">Download CSV</a>
			</h3>
				<div class="modal fade" id="chartModalInfo" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button class="close" data-dismiss="modal"type="button">x</button>
								<h4 class="modal-title" id="chartModalInfoLabel">Average monthly sea ice concentrations for all years</h4>
							</div>
									<div class="modal-body">
										<p>This graph shows sea ice concentrations
										(percent ice cover) for your chosen month at
										the location you clicked on the map. Use the
										&ldquo;select by date&rdquo; menu at left to choose
										another month to view. No need to change the
										year because you are already viewing the entire
										time series of data.</p>
										
										<p><a href="/glossary">Learn more about how sea ice concentrations are defined and described.</a></p>
									</div>
									
									<div class="modal-footer">
										<button class="btn btn-warning btn-sm" data-dismiss="modal" type="button">Got it!</button>
									</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<div id="chart"></div>
		</div><!-- end chartWrapper -->

		<div id="graphicWrapper">
			<h3>Ice open and close dates by concentration threshold<button id="chartModalInfoButton2" class="btn btn-warning btn-xs pull-right" data-toggle="modal" data-target="#chartModalInfo2">More info</button> </h3>
				<div class="modal fade" id="chartModalInfo2" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button class="close" data-dismiss="modal" type="button">×</button>
								<h4 class="modal-title" id="chartModalInfo2Label">Ice open and close dates by concentration threshold<br />(gray bars = ice cover)</h4>
							</div>
									<div class="modal-body">
										<p>This graph shows historical sea ice
										concentrations (percent ice cover) for the
										entire time series at the point you clicked on
										the map. The gray bars initially show ice cover
										that exceeds the default threshold (limit) of
										concentration of 30% for your location. Move
										the blue dot on the slider bar below to make
										the chart show where the ice concentration
										exceeds your selected threshold.</p>

										<p><a href="/glossary">Learn more about how sea ice concentrations are defined and described.</a></p>
									</div>

									<div class="modal-footer">
										<button class="btn btn-warning btn-sm" data-dismiss="modal" type="button">Got it!</button>
									</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			<div>
				<input id="thresholdSlider" type="text" data-slider-id="thresholdSliderControl" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="30"/>
	      			<span>&nbsp;<span id="thresholdSliderLabel">30</span>&#37;: Selected sea ice minimum concentration threshold</span>
      		</div>
      			<div id="thresholdTarget"></div>
				<div id="openWaterGraphic"></div>
		</div><!-- end graphicWrapper -->
	</div>
</div>
