	<h4 class="list-group-item-heading">Animation</h4>
	<div class="list-group-item-text">

		<p>There are 2 ways to view sea ice concentrations (percent cover) over time:</p>

		<div id="sequentialControls">

			<p><strong>Yearly, by month</strong>: Choose a year and watch concentrations change for each month of the time series. </p>
			<small>e.g., Jan 1953, Feb 1953, Mar 1953&nbsp;&hellip;</small>

			<div class="btn-group">
				<button class="btn btn-default btn-primary btn-xs" id="sequentialAnimationPlay"><span class="glyphicon glyphicon-play"></span></button>
				<button class="btn btn-default btn-xs" id="sequentialAnimationPause"><span class="glyphicon glyphicon-pause"></span></button>
			</div>
		</div>

		<div id="monthlyControls">
			
			<p><strong>Month&ndash;specific</strong>: Choose a month/year combination and watch concentrations change for that month over the time series. </p>
			<small>e.g., Jan 1953, Jan 1954, Jan 1955&nbsp;&hellip;</small>
 
			<div class="btn-group">
				<button class="btn btn-default btn-primary btn-xs" id="monthlyAnimationPlay"><span class="glyphicon glyphicon-play"></span></button>
				<button class="btn btn-default btn-xs" id="monthlyAnimationPause"><span class="glyphicon glyphicon-pause"></span></button>
			</div>
		</div>
	</div>
