	<h4 class="list-group-item-heading">Animation</h4>
	<div class="list-group-item-text">

		<p>View sea ice concentrations over time in two ways:</p>

		<div id="sequentialControls">

			<p><strong>Yearly, by month</strong>: Choose a year and watch sea ice concentrations change each month. (e.g., Jan 1953, Feb 1953, Mar 1953&hellip;)</p>

			<div class="btn-group">
				<button class="btn btn-default btn-primary" id="sequentialAnimationPlay"><span class="glyphicon glyphicon-play"></span></button>
				<button class="btn btn-default" id="sequentialAnimationPause"><span class="glyphicon glyphicon-pause"></span></button>
			</div>
		</div>

		<div id="monthlyControls">
			
			<p><strong>Month&ndash;specific</strong>: Choose a month/year combination and watch sea ice concentrations change for that month over the years. (e.g., Jan 1953, Jan 1954, Jan 1955&hellip;)</p>

			<div class="btn-group">
				<button class="btn btn-default btn-primary" id="monthlyAnimationPlay"><span class="glyphicon glyphicon-play"></span></button>
				<button class="btn btn-default" id="monthlyAnimationPause"><span class="glyphicon glyphicon-pause"></span></button>
			</div>
		</div>
	</div>
