	<h4 class="list-group-item-heading">Animation</h4>
	<div class="list-group-item-text">

		<p>There are 2 ways to view sea ice changes over time:</p>

		<div id="sequentialControls">

			<p>Yearly, by month</p>
			<small><em>e.g. Jan 1953, Feb 1953, Mar 1953&nbsp;&hellip;</em></small>

			<div class="btn-group">
				<button class="btn btn-primary btn-xs play" id="sequentialAnimationPlay"><span class="glyphicon glyphicon-play"></span></button>
				<button class="btn btn-default btn-xs" id="sequentialAnimationPause"><span class="glyphicon glyphicon-pause"></span></button>
			</div>
		</div>

		<div id="monthlyControls">
			
			<p>Single repeating month</p>
			<small><em>e.g. Jan 1953, Jan 1954, Jan 1955&nbsp;&hellip;</em></small>
 
			<div class="btn-group">
				<button class="btn btn-primary btn-xs play" id="monthlyAnimationPlay"><span class="glyphicon glyphicon-play"></span></button>
				<button class="btn btn-default btn-xs" id="monthlyAnimationPause"><span class="glyphicon glyphicon-pause"></span></button>
			</div>
		</div>
	</div>
