	<h4 class="list-group-item-heading">Animation</h4>
	<div class="list-group-item-text">
		<div id="sequentialControls">
			<p><strong>Sequential:</strong> Watch changing sea ice concentrations every month from a chosen year, near-present day into the past.</p>
			<div class="btn-group">
				<button class="btn btn-default btn-primary" id="sequentialAnimationPlay"><span class="glyphicon glyphicon-play"></span></button>
				<button class="btn btn-default" id="sequentialAnimationPause"><span class="glyphicon glyphicon-pause"></span></button>
			</div>
		</div>

		<div id="monthlyControls">
			<p><strong>Monthly:</strong> Watch changing sea ice concentrations for a specific month from a chosen year, near-present day into the past.</p>
			<div class="btn-group">
				<button class="btn btn-default btn-primary" id="monthlyAnimationPlay"><span class="glyphicon glyphicon-play"></span></button>
				<button class="btn btn-default" id="monthlyAnimationPause"><span class="glyphicon glyphicon-pause"></span></button>
			</div>
		</div>
	</div>
