lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
bower_components
build

public/js
public/css
public/theme

etc/*.sql
etc/output
etc/*.nc

config.json

sea-ice-atlas.sublime-workspace
sea-ice-atlas.sublime-project

etc/mapfile-generator/tilecache.cfg
etc/mapfile-generator/hsia-tilecache.cfg
etc/mapfile-generator/hsia.map
