extends layout

block content

	.container.about
			
		.panel.panel-danger.pull-right
			.panel-heading
				h4.panel-title Uncertainty informs decisions and drives science forward
			
			.panel-body
				p
					| The role of science is to assess evidence and show
					| which of several possible answers has the most support.
					| Remaining uncertainties indicate what to
					| investigate next.
				p
					| We all make choices that are based
					| on incomplete information. It is helpful to know about
					| uncertainties up front so that we can make informed
					| decisions.
		
					img(src='img/USS_BEAR_off_Point_Barrow_22_sm.jpg')

				p.caption	
					| Navigating and collecting data in heavy ice was very
					| uncertain for historic mariners. 		

		h1 We can plan for the future by studying the past.
		p.intro
			| Key findings from&nbsp;
			a(href='http://dev.aoos.org/wp-content/uploads/2011/11/Descoped-CMSP-Proposal-Nov-4-FINAL.pdf') a 2011 report on the need for spatial tools for Arctic mapping and planning 
			| indicate that:

			blockquote
				p
					| Marine resource management decisions are often made through
					| processes that are not based explicitly on resource data &mldr;
					| important weaknesses in current decision-making processes
					| involve two issues that spatial tools can help address: public
					| participation and the availability of data and information.
				p
					| The most pressing management decisions revolve around
					| climate change and the associated changes in environmental
					| conditions coupled with increasing industrial development and
					| consequent human uses of the ocean and near shore
					| environments.
		p.intro
			| For the first time, you can simultaneously view multiple sources of historical sea
			| ice data from the oceans surrounding northern
			| Alaska. Choose a region and time of interest and inspect a map of data collected 
			| between the mid-1800s and today, 
			| to discover how ice extent and concentration have changed over time.
		p.intro
			strong If you are&nbsp;
			| a resident of a coastal community,
			| someone who hunts or fishes in a marine environment, a member of
			| the shipping or oil + gas industries, in the US Coast guard, a
			| scientist, or otherwise interested in Arctic sea ice data and
			| climate change,&nbsp;
			strong this atlas is for you.
				
		h2 Data considerations
		p
			| These data show &ldquo;snapshots&rdquo; in time, as well as historical
			| trends in arctic sea ice cover and extent. They are not projections
			| or predictions of future conditions. 
			| The atlas is not designed for forecasting or prediction, but can provide
			| useful historical context for future planning efforts.

		h3	Factors that create uncertainty in these data
		p
			strong Data collection challenges.&nbsp;
			| Collecting sea ice data has always been difficult and dangerous work. 
			| Historic interpretations of ice 
			| concentration differed from modern protocols. A wide variety of instrument calibrations 
			| and sensors (human observation, radar, satellites) has been used over time.
			| All add up to data inconsistencies.
		p
			strong Data compilation choices.&nbsp;
			| Compiling data involves choices: Which hard copy maps to digitize? How do
			| we interpret this handwriting? How do we fill gaps in the data
			| record? Which time scale is best to use?
			| These choices lead to uncertainty.
		h3 Sources of monthly sea ice data used in this atlas
		script(src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization",%20"version":"1","packages":["timeline"]}]}', type='text/javascript')
		script(type='text/javascript').
			google.setOnLoadCallback(drawChart);
			function drawChart() {
			var container = document.getElementById('datasources');
			var chart = new google.visualization.Timeline(container);
			var dataTable = new google.visualization.DataTable();
			dataTable.addColumn({ type: 'string', id: 'Term' });
			dataTable.addColumn({ type: 'string', id: 'Name' });
			dataTable.addColumn({ type: 'date', id: 'Start' });
			dataTable.addColumn({ type: 'date', id: 'End' });
			dataTable.addRows([
			[ 'Whalers', 'Whaling ship logbooks describing open water and ice cover 1850–1914',new Date(1850, 1, 0),new Date(1914, 12, 0) ],
			[ 'ACSYS', 'Arctic Climate System Study 1850–1986', new Date(1850, 1, 0), new Date(1986, 12, 0) ],
			[ 'Analog', 'Analog filling of gaps 1850–1971', new Date(1850, 1, 0), new Date(1971, 12, 0) ],
			[ 'Hill', 'Brian Hill Collection 1870–1963',new Date(1870, 1, 0),new Date(1963, 12, 0) ],
			[ 'DMI', 'Danish Meteorological Institute 1893–1956',new Date(1893, 1, 0),new Date(1956, 12, 0) ],
			[ 'Kelly', 'Kelly Sea Ice Extent Grids 1901–1956',new Date(1901, 1, 0),new Date(1956, 12, 0) ],
			[ 'AARI', 'Arctic and Antarctic Research Institute 1933–2004',new Date(1933, 1, 0),new Date(2004, 12, 0) ],
			[ 'Dehn', 'NSIDC Bill Dehn Data Collection 1953–1986',new Date(1953, 1, 0),new Date(1986, 12, 0) ],
			[ 'Walsh/Johnson', 'Walsh and Johnson/Navy-NOAA Joint Ice Center 1953–1977',new Date(1953, 1, 0),new Date(1977, 12, 0) ],
			[ 'NAVOCEANO', 'Naval Oceanographic Office 1953–1971',new Date(1953, 1, 0),new Date(1971, 12, 0) ],
			[ 'Kelly extended', 'Temporal extension of Kelly data 1957–1971',new Date(1957, 1, 0),new Date(1971, 12, 0) ],
			[ 'JMA', 'Japan Meteorological Agency 1970–2007',new Date(1970, 1, 0),new Date(2007, 12, 0) ],
			[ 'JIC', 'Navy-NOAA Joint Ice Center Climatology 1972–1994',new Date(1972, 1, 0),new Date(1994, 12, 0) ],
			[ 'NSIDC', 'NSIDC microwave sensor data 1978–2014',new Date(1978, 1, 0),new Date(2014, 12, 0) ]]);

			var options = {
			timeline: { showRowLabels: true, singleColor: '#7ecefd', colorByRowLabel: true,
			rowLabelStyle: {fontName: 'Open Sans', fontSize: 13, color: '#3E454C' },
				barLabelStyle: { fontName: 'Open Sans', fontSize: 11 } },
			backgroundColor: '#E8F1FA'
			};

			chart.draw(dataTable, options);
			}
		#datasources(style='width: 100%; height: 550px;')

		h4 Alphabetical listing of data sources
		p.datadesc
			strong Analog filling of spatial and temporal gaps:&nbsp;&nbsp;
			| Spatial and temporal gaps in a given grid filled with best analog representations of the given month.
		p.datadesc
			a(href='http://nsidc.org/data/docs/noaa/g02176_aari_charts/') Arctic and Antarctic Research Institute (AARI)&nbsp;&nbsp;
			| Located in St. Petersburg, Russia, AARI produces sea ice charts for safety of navigation in the Eurasian Arctic 
			| and other operational and scientific purposes. Chart coverage focuses on the Northern Sea Route, although later 
			| charts extend into the central Arctic. Charts contain several categories of ice concentration.		
		p.datadesc
			a(href='http://nsidc.org/data/docs/noaa/g02169_nordic_sea_ice/') Arctic Climate System Study (ACSYS)&nbsp;&nbsp;
			| An activity of the&nbsp;
			a(href='http://www.wcrp-climate.org/') World Climate Research Program.&nbsp;
			| Includes digitized ice edge positions for the north Atlantic. ACSYS Ice edge information is irregular 
			| in time and space, and is most frequent in the 20th century. When available, ice edge data are provided monthly.
			| The ACSYS study has expanded into the Climate and Cryosphere Project. Visit the&nbsp;
			a(href='http://www.climate-cryosphere.org/resources/historical-ice-chart-archive') ACSYS/CliC Historical Ice Chart Archive 
			| to access all data from this work.
		p.datadesc
			a(href='http://www.icedata.ca/') Brian Hill Collection&nbsp;&nbsp;
			| Includes ice edge coordinates and accompanying maps of ice edge around Newfoundland, Grand Banks, and the 
			| Gulf of St. Lawrence, Canada. Data are monthly for winter months of most years.
		p.datadesc
			a(href='http://nsidc.org/data/docs/noaa/g02203-dmi/') Danish Meteorological Institute (DMI)&nbsp;&nbsp;
			| These charts provide observed and inferred sea ice extent for each summer month from 1893–1956. Additionally, 
			| Kelly et al. have digitized summer (May-Sept) ice edge information from DMI's monthly maps.
		p.datadesc
			a(href='http://zubril.ru/docs/21/index-826372.html?page=11#171722') Japan Meteorological Agency&nbsp;&nbsp;
			| Monitors sea ice in the Sea of Okhotsk from November to July. Results of monitoring are published for public use.
		p.datadesc
			strong Kelly ice extent grids&nbsp;&nbsp;
			| Digitized ice edge information from monthly maps of Danish Meteorological Institute, May-Sept only. 
			| Kelly digitized only the inferred ice edge and only to a spatial resolution of about 100 km, depending 
			| on the distance of the ice boundary to the pole. He chose not to improve the resolution because of the 
			| low accuracy of the inferred ice edge itself. The eventual plan was for this digitized data to be 
			| incorporated on a one-degree grid into larger sea ice data products as an ice/no ice indicator.
		p.datadesc
			a(href='http://www.public.navy.mil/fltfor/cnmoc/Pages/navo_home1.aspx') Naval Oceanographic Office (NAVOCEANO)&nbsp;&nbsp;
			| Oversees the Naval Ice Center (NAVICE), which provides worldwide operational ice analyses for the US military 
			| and government agencies as well as allied nations. Sea ice maps for the Alaskan and Greenland sectors were compiled 
			| into yearbooks for the period 1953–1971. Hard copies of yearbooks are held by the&nbsp;
			a(href='http://nsidc.org/') National Snow and Ice Data Center&nbsp;
			| (NSIDC). In 1972, ice charting was transitioned to the predecessor of the
			a(href='http://www.natice.noaa.gov/') &nbsp;National Ice Center.
		p.datadesc
			a(href='http://www.natice.noaa.gov/index.html') Navy-NOAA Joint Ice Center Climatology&nbsp;&nbsp;
			| The National Ice Center began in 1976 as the Joint Ice Center in 1976, comprised of personnel from NOAA 
			| and the US Navy. In 1995, the Joint Ice Center became the National Ice Center as it expanded to include 
			| the US Coast Guard. Coast Guard aircraft, icebreakers, and Marine Safety Offices contribute valuable platforms 
			| for onsite aerial and ship observations, as well as accurate and timely ship and station reports. 
			| Ice charts dating back to 1972 are from predecessor organization. Hard-copy (paper) charts produced by analysts 
			| are subsequently scanned and digitized. Ice charts are based mainly on satellite imagery, supplemented by aircraft, 
			| ship and shore reports.
		p.datadesc
			a(href='http://nsidc.org/data/g01111.html') NSIDC Bill Dehn Data Collection&nbsp;&nbsp;
			| Scanned versions of almost 7,000 ice charts donated to the
			a(href='http://nsidc.org/') &nbsp;National Snow and Ice Data Center&nbsp;
			| (NSIDC) by the estate of Bill Dehn are available through a searchable interface. A subset of the charts 
			| have been digitized by the
			a(href='http://accap.uaf.edu/') &nbsp;Alaska Center for Climate Assessment and Policy&nbsp;
			| (ACCAP).
		p.datadesc
			a(href='http://nsidc.org/data/docs/daac/nsidc0079_bootstrap_seaice.gd.html') NSIDC SMMR/SSMI/AMSR microwavew sensor data &nbsp;&nbsp;
			| Three separate microwave sensors. AMSR-E is the latest sensor, improving upon past microwave radiometers 
			| SSM/I and SMMR. The spatial resolution of AMSR-E data doubles that of Scanning Multichannel Microwave 
			| Radiometer (SMMR) and Special Sensor Microwave/Imager (SSM/I) data. Also, AMSR-E combines into one 
			| sensor all the channels that SMMR and SSM/I had individually.
		p.datadesc
			a(href='http://nsidc.org/data/docs/noaa/g00799_arctic_southern_sea_ice/') Walsh and Johnson/Navy-NOAA Joint Ice Center&nbsp;&nbsp;
			| Early version of pan-Arctic digital database of Arctic sea ice concentrations. Grids cover the pre-satellite 
			| (passive microwave) period and are synthesized from various sources. Resolution is 60 nautical miles in space and monthly in time.
			em &nbsp;Described in: Walsh and Johnson, 1979, J. Phys. Oceanography, 9, 58–591.
		p.datadesc
			strong Whaling ship logbook data&nbsp;&nbsp;
			| Daily observations taken from logbooks and journals of whaling vessels cruising in the Bering and Chukchi 
			| seas to investigate seaice conditions in this region of the Arctic between 1850 and 1914. 
			| Extracted and digitized daily data on the presence or absence of sea ice from logbook records of annual 
			| cruises in an unbroken record from 1850 to 1914, though there were very few cruises (hence inadequate 
			| data) from 1911 to 1914. Data include more than 52,000 daily observations in an unbroken 65 year record 
			| from 516 cruises. These represent 19% of the total 2,712 cruises.
			| Similar findings are discussed by Eicken et al.&nbsp; 
			a(href='http://seaice.alaska.edu/gi/publications/eicken/11MBBE.pdf') in this paper.









