extends layout

block content
	.container.about
		h1 Photo credits
			h2 Atlas Home
			ul
				li
					strong Banner montage, left: 
					| Hunters maneuver a small boat through ice floes in the Beaufort Sea. 
					a(href='http://www.photolib.noaa.gov/bigs/theb0030.jpg') (NOAA Arctic Photo Gallery)
				li
					strong Banner montage, center: 
					| Stuck in the frozen sea ice over Christmas, the Baldwin&ndash;Ziegler North Pole
					| Expedition waits out the Arctic winter in 1901. 
					a(href='http://nsidc.org/cryosphere/arctic-meteorology/studying.html') (NSIDC/Library of Congress Prints)
				li
					strong Banner montage, right: 
					| NIMBUS&ndash;7 satellite. 
					a(href='https://directory.eoportal.org/web/eoportal/satellite-missions/t/toms') (NASA)
				li
					strong "Use this Atlas" block image: 
					| Sea ice can take on a variety of textures. When waves buffet the freezing ocean surface, characteristic "pancake" sea ice forms. 
					a(href='http://nsidc.org/cryosphere/quickfacts/seaice.html') (Ted Scambos/NSDIC)
			h2 About
			ul
				li
					em USS Bear 
					| off Point Barrow, Alaska, 1922. 
					a(href='http://vilda.alaska.edu/cdm/singleitem/collection/cdmg21/id/13462/rec/1') (Alaska Digital Archives)
			h2 Glossary: sea ice image slideshow
			ul
				li
					strong 1&ndash;2 tenths (10&ndash;20%) &ldquo;very open drift&rdquo;:  
					| Alice Orlich; Joint Ocean Ice Study (JOIS) 2012; Institute of Ocean Sciences, Fisheries and Oceans Canada (IOS) Cruise #2012-11 
				li
					strong 3&ndash;4 tenths (30&ndash;40%)&ldquo;open to very open drift&rdquo;: 
					| Heidi Isernhagen; JOIS 2012; IOS Cruise #2010-07 
				li
					strong 5&ndash;6 tenths (50&ndash;60%)&ldquo;open drift&rdquo;: 
					a(href='http://archive.orr.noaa.gov/book_shelf/695_seaice.pdf') NOAA Observer's Guide to Sea Ice 
				li
					strong 7&ndash;8 tenths (70&ndash;80%) &ldquo;close pack&rdquo;: 
					| Alice Orlich; JOIS 2011; IOS Cruise # 2011-20 
				li
					strong 9&ndash;10 tenths (100%) &ldquo;very close pack&rdquo;: 
					| Alice Orlich; Nansen and Admunsen Basins Observational System (NABOS) 2013 Arctic Expedition; IARC & Arctic and Antarctic Research Institute (AARI) 
				li
					strong 10 tenths &ldquo;compact&rdquo;: 
					| Jennifer Hutchings; JOIS 2009; IOS Cruise #2009-20 	
		h1 Technology credits
		p 
			ul
				li
					a(href='http://backbonejs.org') Backbone:&nbsp;&nbsp;
					| Javascript framework for creating dynamic, interactive web applications 
				li
					a(href='http://getbootstrap.com') Bootstrap:&nbsp;&nbsp;
					| Design and layout framework for basic controls and page components 
				li
					a(href='http://d3js.org') D3:&nbsp;&nbsp;
					| Rich visualization framework for data&ndash;driven documents and applications 
				li
					a(href='http://www.highcharts.com') HighCharts:&nbsp;&nbsp;
					| Simple, effective interactive charts 
				li
					a(href='http://mapserver.org') MapServer:&nbsp;&nbsp;
					| Raster map tile and WMS server 
				li
					a(href='http://nodejs.org') Node.js:&nbsp;&nbsp;
					| Server to handle HTTP requests and connect the client application with the PostGIS database 
				li
					a(href='http://openlayers.org') OpenLayers:&nbsp;&nbsp;
					| Library for creating dynamic web apps 
				li
					a(href='http://postgis.net') PostGIS:&nbsp;&nbsp;
					| Dynamic raster querying and analysis for interactive charts and graphs 
				li
					a(href='http://tilecache.org') TileCache:&nbsp;&nbsp;
					| Tile caching and performance optimization for map tiles 
