extends layout

block content
	.container
		h1 Disclaimer
		p
		strong Indemnity and Disclaimer of All Warranties.&nbsp;
		| To the extent permissible under applicable laws, no responsibility is assumed and 
		| is hereby disclaimed by the University of Alaska Fairbanks for any injury and/or 
		| damage to persons or property as a result of any actual or alleged libelous statements, 
		| infringement of intellectual property or privacy rights, or products liability, 
		| including from any use or operation of any ideas, instructions, procedures, 
		| products or methods contained in the material therein. Access and use of the software 
		| is provided on an "as is" basis.
		em
		| No warranty or representation as to the accuracy, completeness or technical or 
		| scientific quality of any information or&nbsp;
		em suitability for the Recipient’s intended use is provided herein. 
		strong
			| WITHOUT RESTRICTING THE GENERALITY OF THE FOREGOING, THE PARTIES MAKE NO 
			| REPRESENTATION OR WARRANTY AS TO THE MERCHANTABILITY OR FITNESS FOR A PARTICULAR 
			| PURPOSE OF ANY COPYRIGHT LICENSED HEREUNDER.

		h1 Terms of use
		p
			| All information produced by the Historical Sea Ice Atlas is licensed under a
			a(href='http://creativecommons.org/licenses/by-nc-sa/3.0/')&nbsp;Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.
		p
			| If you are part of a for-profit organization, and are interested in 
			| commercialization opportunities and/or collaborative R&D activities please&nbsp;
			a(href='http://www.snap.uaf.edu/people.php#contact') contact us.
		
		h1 How to cite Sea Ice Atlas products
		p
			| When the publication medium allows it, please include a link back to the Sea Ice Atlas home page.  For publications, please cite the Atlas this way:
		blockquote
			p
				| Historical Sea Ice Atlas, University of Alaska. [insert current year]. [insert specific webpage title]. Retrieved [insert date] from [insert URL]