extends layout

block content

    // start 12 column main block
    section.row-fluid
      .span12(style='border: 1px solid silver; padding: 10px;')
        h1 Download data
        p Shell for adding in download procedures &period;&period;&period;
        p &NonBreakingSpace;
        p &NonBreakingSpace;
        h2 &NonBreakingSpace;
        .well.well-small
          p
            strong The fine print&period;
            | SNAP cannot determine
            | and control which information is read&comma; or how data are
            | processed&comma; interpreted&comma; and used&period; All products published here
            | should not be used for navigational or operational purposes&period;
            | The user of these data and products assumes the entire risk
            | related to use of these data&period; In no event will SNAP&comma; its
            | agents&comma; employees or members be liable to a user or any third
            | party for any direct&comma; indirect&comma; incidental&comma; consequential&comma;
            | special or exemplary damages&comma; loss of life or lost profits
            | resulting from any use&comma; misuse or reliance on any of the data
            | or information appearing on this website&period;
            em
              | Paraphrased
              | from AOOS disclaimer
    // end 12-column main block
  