extends layout

block content

	.container
		
		h1 Download data

		p
		| Space for download links ...
		p &nbsp;
		p &nbsp;
		p &nbsp;
		<iframe width="800" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://inyocounty.maps.arcgis.com/home/webmap/templates/OnePane/basicviewer/embed.html?webmap=1c9e747a2b5845f7ad3c7de75b3622af&amp;gcsextent=-118.9044,35.5261,-115.5316,37.7191&amp;displayslider=true&amp;displayscalebar=true&amp;displaylegend=true&amp;displaydetails=true&amp;displaysearch=true&amp;searchextent=true&amp;displaybasemaps=true"></iframe> 


		h1 Metadata

		p
		| Space for metadata ...
		p &nbsp;
		p &nbsp;
		p &nbsp;