extends layout

block content

	.container
		
		h1 Download data

		p
			a(href='http://www.snap.uaf.edu/') The Scenarios Network for Alaska and Arctic Planning&nbsp;
			| (SNAP) maintains the data behind the Sea Ice Atlas. Your download will include the entire
			| Historical Sea Ice dataset compiled from the sources listed
			a(href='/About')&nbsp;here,&nbsp;
			| not a subset based on selected dates.

		p
			strong You will leave this site in order to download data.&nbsp;

		p &nbsp;

		p
			a(href="http://www.snap.uaf.edu/data.php").btn.btn-warning Download sea ice data from SNAP

		p &nbsp;
		p &nbsp;
		p &nbsp;