extends layout

block content

	.container
		
		h1 Download data
		
		h3 Sources of sea ice data
		script(src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization",%20"version":"1","packages":["timeline"]}]}', type='text/javascript')
		script(type='text/javascript').
			google.setOnLoadCallback(drawChart);
			function drawChart() {
			var container = document.getElementById('datasources');
			var chart = new google.visualization.Timeline(container);
			var dataTable = new google.visualization.DataTable();
			dataTable.addColumn({ type: 'string', id: 'Term' });
			dataTable.addColumn({ type: 'string', id: 'Name' });
			dataTable.addColumn({ type: 'date', id: 'Start' });
			dataTable.addColumn({ type: 'date', id: 'End' });
			dataTable.addRows([
			[ 'ACSYS', 'Arctic Climate System Study', new Date(1750, 1, 0), new Date(2003, 12, 0) ],
			[ 'Hill', 'Brian Hill Collection',        new Date(1870, 1, 0),  new Date(1963, 12, 0) ],
			[ 'Kelly', 'Kelly Ice Extent Grids',        new Date(1901, 1, 0),  new Date(1956, 12, 0) ],
			[ 'AARI', 'Arctic and Antarctic Research Institute',        new Date(1933, 1, 0),  new Date(2004, 12, 0) ],
			[ 'Dehn', 'NSIDC Bill Dehn Data Collection',        new Date(1953, 1, 0),  new Date(1986, 12, 0) ],
			[ 'Walsh/Johnson', 'Walsh and Johnson/Navy-NOAA Joint Ice Center',        new Date(1953, 1, 0),  new Date(1977, 12, 0) ],
			[ 'NAVOCEANO', 'Naval Oceanographic Office',        new Date(1953, 1, 0),  new Date(1971, 12, 0) ],
			[ 'JMA', 'Japan Meteorological Agency',        new Date(1970, 1, 0),  new Date(2007, 12, 0) ],
			[ 'JIC', 'Navy-NOAA Joint Ice Center Climatology',        new Date(1972, 1, 0),  new Date(1994, 12, 0) ],
			[ 'NSIDC', 'NSIDC Nimbus-7 SMMR Arctic Sea Ice Concentrations',        new Date(1978, 1, 0),  new Date(2013, 12, 0) ]]);

			var options = {
			timeline: { showRowLabels: true, singleColor: '#7ECEFD',
			rowLabelStyle: {fontName: 'Candara', fontSize: 14, color: '#3E454C' },
				barLabelStyle: { fontName: 'Open Sans', fontSize: 12 } }
			};

			chart.draw(dataTable, options);
			}
		#datasources(style='width: 100%; height: 510px;')

		p
			strong Disclaimer&nbsp;
			|NEW TEXT COMING FROM LEGAL FOLKS ... SNAP cannot determine
			|and control which information is read, or how data are
			|processed, interpreted, and used. All products published here
			|should not be used for navigational or operational purposes.
			|The user of these data and products assumes the entire risk
			|related to use of these data. In no event will SNAP, its
			|agents, employees or members be liable to a user or any third
			|party for any direct, indirect, incidental, consequential,
			|special or exemplary damages, loss of life or lost profits
			|resulting from any use, misuse or reliance on any of the data
			|or information appearing on this website. &nbsp;Paraphrased
			|from AOOS disclaimer