extends layout

block content

	.container
		
		h1 Download data

		p
			| Space for download links ...

		h4 Disclaimer
		small
			|NEW TEXT COMING FROM LEGAL FOLKS ... SNAP cannot determine
			|and control which information is read, or how data are
			|processed, interpreted, and used. All products published here
			|should not be used for navigational or operational purposes.
			|The user of these data and products assumes the entire risk
			|related to use of these data. In no event will SNAP, its
			|agents, employees or members be liable to a user or any third
			|party for any direct, indirect, incidental, consequential,
			|special or exemplary damages, loss of life or lost profits
			|resulting from any use, misuse or reliance on any of the data
			|or information appearing on this website. &nbsp;Paraphrased
			|from AOOS disclaimer
		
		h3 Sources of sea ice data used in this Atlas
		script(src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization",%20"version":"1","packages":["timeline"]}]}', type='text/javascript')
		script(type='text/javascript').
			google.setOnLoadCallback(drawChart);
			function drawChart() {
			var container = document.getElementById('datasources');
			var chart = new google.visualization.Timeline(container);
			var dataTable = new google.visualization.DataTable();
			dataTable.addColumn({ type: 'string', id: 'Term' });
			dataTable.addColumn({ type: 'string', id: 'Name' });
			dataTable.addColumn({ type: 'date', id: 'Start' });
			dataTable.addColumn({ type: 'date', id: 'End' });
			dataTable.addRows([
			[ 'ACSYS', 'Arctic Climate System Study', new Date(1760, 1, 0), new Date(2003, 12, 0) ],
			[ 'Hill', 'Brian Hill Collection',new Date(1870, 1, 0),new Date(1963, 12, 0) ],
			[ 'Kelly', 'Kelly Ice Extent Grids',new Date(1901, 1, 0),new Date(1956, 12, 0) ],
			[ 'AARI', 'Arctic and Antarctic Research Institute',new Date(1933, 1, 0),new Date(2004, 12, 0) ],
			[ 'Dehn', 'NSIDC Bill Dehn Data Collection',new Date(1953, 1, 0),new Date(1986, 12, 0) ],
			[ 'Walsh/Johnson', 'Walsh and Johnson/Navy-NOAA Joint Ice Center',new Date(1953, 1, 0),new Date(1977, 12, 0) ],
			[ 'NAVOCEANO', 'Naval Oceanographic Office',new Date(1953, 1, 0),new Date(1971, 12, 0) ],
			[ 'JMA', 'Japan Meteorological Agency',new Date(1970, 1, 0),new Date(2007, 12, 0) ],
			[ 'JIC', 'Navy-NOAA Joint Ice Center Climatology',new Date(1972, 1, 0),new Date(1994, 12, 0) ],
			[ 'NSIDC', 'NSIDC Nimbus-7 SMMR Arctic Sea Ice Concentrations',new Date(1978, 1, 0),new Date(2013, 12, 0) ]]);

			var options = {
			timeline: { showRowLabels: true, singleColor: '#7ECEFD',
			rowLabelStyle: {fontName: 'Open Sans', fontSize: 13, color: '#3E454C' },
				barLabelStyle: { fontName: 'Open Sans', fontSize: 11 } }
			};

			chart.draw(dataTable, options);
			}
		#datasources(style='width: 100%; height: 450px;')

		h4 Source descriptions
		p
			a(href='http://nsidc.org/data/docs/noaa/g02176_aari_charts/') Arctic Climate System Study (ACSYS)&nbsp;&nbsp;
			| An activity of the&nbsp;
			a(href='http://www.wcrp-climate.org/') World Climate Research Program.&nbsp;
			| Includes digitized ice edge positions for the north Atlantic. ACSYS Ice edge information is irregular in time and space, and is most frequent in the 20th century. When available, ice edges are monthly.
		p
			a(href='http://www.icedata.ca/') Brian Hill Collection&nbsp;&nbsp;
			| Includes ice edge coordinates and accompanying maps of ice edge around Newfoundland, Grand Banks, and the Gulf of St. Lawrence, Canada. Information is monthly for winter months of most years.
		p
			a(href='http://nsidc.org/pubs/documents/gd/GD-5_web.pdf') Kelly Ice Extent Grids&nbsp;&nbsp;
			| Digitized ice edge information from monthly maps of Danish Meteorological Institute; summer only (May-Sept).
			em&nbsp;
				| Citation: Kelly PM 1979. An arctic sea ice data set, 1901–1956. Glaciological Data, Report GD-5: Workshop on Snow Cover and Sea Ice Data. World Data Center-A for Glaciology [Snow and Ice], 101-106.
		p
			a(href='http://nsidc.org/data/docs/noaa/g02176_aari_charts/') Arctic and Antarctic Research Institute (AARI)&nbsp;&nbsp;
			| Located in St. Petersburg, Russia, AARI produces sea ice charts for safety of navigation in the Eurasian Arctic and other operational and scientific purposes. Chart coverage focuses on the Northern Sea Route, although later charts extend into the central Arctic. Charts contain several categories of ice concentration.
			p
			a(href='http://nsidc.org/data/g01111.html') NSIDC Bill Dehn Data Collection&nbsp;&nbsp;
			| Scanned versions of almost 7,000 ice charts donated to the
			a(href='http://nsidc.org/') &nbsp;National Snow and Ice Data Center&nbsp;
			| (NSIDC) by the estate of Bill Dehn are available through a searchable interface. A subset of the charts have been digitized by the
			a(href='http://accap.uaf.edu/') &nbsp;Alaska Center for Climate Assessment and Policy&nbsp;
			| (ACCAP).
		p
			a(href='http://nsidc.org/data/docs/noaa/g00799_arctic_southern_sea_ice/') Walsh and Johnson/Navy-NOAA Joint Ice Center&nbsp;&nbsp;
			| Early version of pan-Arctic digital database of Arctic sea ice concentrations. Grids cover the pre-satellite (passive microwave) period and are synthesized from various sources. Resolution is 60 n miles in space and monthly in time.
			em &nbsp;Described in: Walsh and Johnson, 1979, J. Phys. Oceanography, 9, 58–591.
		p
			a(href='http://www.public.navy.mil/fltfor/cnmoc/Pages/navo_home1.aspx') Naval Oceanographic Office (NAVOCEANO)&nbsp;&nbsp;
			| Oversees the Naval Ice Center (NAVICE), which provides worldwide operational ice analyses for the US military and government agencies as well as allied nations. Sea ice maps for the Alaskan and Greenland sectors were compiled into yearbooks for the period 1953–1971. Hard copies of yearbooks are held by the&nbsp;
			a(href='http://nsidc.org/') National Snow and Ice Data Center&nbsp;
			| (NSIDC). In 1972, ice charting was transitioned to the predecessor of the
			a(href='http://www.natice.noaa.gov/') &nbsp;National Ice Center.
		p
			a(href='http://zubril.ru/docs/21/index-826372.html?page=11#171722') Japan Meteorological Agency&nbsp;&nbsp;
			| Monitors sea ice in the Sea of Okhotsk from November to July. Results of monitoring are published for public use.
			p
			a(href='http://www.natice.noaa.gov/index.html') Navy-NOAA Joint Ice Center Climatology&nbsp;&nbsp;
			| The National Ice Center began in 1976 as the Joint Ice Center in 1976, comprised of personnel from NOAA and the US Navy. In 1995, the Joint Ice Center became the National Ice Center as it expanded to include the US Coast Guard. Coast Guard aircraft, icebreakers, and Marine Safety Offices contribute valuable platforms for onsite aerial and ship observations, as well as accurate and timely ship and station reports. Ice charts dating back to 1972 are from predecessor organization. Hard-copy (paper) charts produced by analysts are subsequently scanned and digitized. Ice charts are based mainly on satellite imagery, supplemented by aircraft, ship and shore reports.
		p
			a(href='http://nsidc.org/data/docs/daac/nsidc0079_bootstrap_seaice.gd.html') NSIDC Nimbus-7 SMMR Arctic Sea Ice Concentrations&nbsp;&nbsp;
			a(href='http://nsidc.org/')&nbsp;The National Snow and Ice Data Center&nbsp;&nbsp;
			| (NSIDC) supports research into our world's frozen realms: the snow, ice, glaciers, frozen ground, and climate interactions that make up Earth's cryosphere. NSIDC manages and distributes scientific data, creates tools for data access, supports data users, performs scientific research, and educates the public about the cryosphere.