extends layout

block content

    .container

        a#loadingExplore
            h4.alert.alert-warning
                <img src="img/ajax-loader.gif" /> Loading application, this may take a few moments&hellip;    

        #applicationWrapper
