extends layout

block content

	.container
		h1 Sea Ice Glossary
			
		#ice-carousel.carousel.slide.pull-right(style='width:600px;')
			// Indicators
			ol.carousel-indicators
				li.active(data-slide-to='0', data-target='#ice-carousel')
				li(data-slide-to='1', data-target='#ice-carousel')
				li(data-slide-to='2', data-target='#ice-carousel')
				li(data-slide-to='3', data-target='#ice-carousel')
				li(data-slide-to='4', data-target='#ice-carousel')
			
			// Wrapper for slides
			.carousel-inner
				.item.active
					img(alt='fast ice', src='img/fast_ice.jpg')
					.carousel-caption
						p
							strong FAST ICE&nbsp;
							| is sea ice that forms
							| and remains attached to the shore or to other ice.
							| Fast ice may extend a few m to several hundred km
							| from the coast. If thicker than about 2 m above sea
							| level, it is called an
							strong
							| &nbsp;ice shelf.

				.item
					img(alt='first year ice', src='img/first_yr_ice.jpg')
					.carousel-caption
						p
							| FIRST-YEAR ICE is sea ice of not more than one
							| winter's growth, developing from young ice, with a
							| thickness of 30 cm to 2 m.
				
				.item
					img(alt='lead', src='img/lead.jpg')
					.carousel-caption
						p
							| A LEAD is a fracture or passageway through ice
							| that is navigable by surface vessels.
				
				.item
					img(alt='Multi-year ice', src='img/multiyear_ice.jpg')
					.carousel-caption
						p
							| MULTI-YEAR ICE is old ice 3 m or more thick that
							| has survived at least two summers' melt. Hummocks
							| even smoother than in second-year ice, and the ice
							| is almost salt free. The color, where snow free, is
							| usually blue. The melt pattern consists of large
							| interconnecting irregular puddles and a well
							| developed drainage system.
				.item
					img(alt='pancake ice', src='img/pancake_ice.jpg')
					.carousel-caption
						p
							| PANCAKE ICE is comprised of predominantly
							| circular pieces of ice from 30 cm&ndash;3 m in diameter
							| and up to 10 cm thick, with raised rims due to the
							| pieces striking against each other.
							
			// Controls
			a.left.carousel-control(data-slide='prev', href='#ice-carousel')
				span.glyphicon.glyphicon-chevron-left
			a.right.carousel-control(data-slide='next', href='#ice-carousel')
				span.glyphicon.glyphicon-chevron-right
		
		h2 Measuring sea ice
		h3 Area
		p
			| To estimate ice area, scientists
			| calculate the percentage of sea ice in each pixel, multiply by the
			| pixel area, and total the amounts. To estimate ice extent,
			| scientists set a threshold percentage, and count every pixel
			| meeting or exceeding that threshold as &quot;ice-covered.&quot; SNAP uses a
			| threshold percentage of 15&percnt; to 100&percnt;, depending on user&rsquor;s
			| context.
		h3 Concentration
		p
		| Percentage of an area that is
		| covered with sea ice.
		h3 Extent
		p
		| The area of sea with a specified amount
		| of ice, usually 15%. To satellite microwave sensors, surface melt
		| appears to be open water rather than water on top of sea ice. So,
		| while reliable for measuring area most of the year, the microwave
		| sensors are prone to underestimating the actual ice concentration
		| and area when the surface is melting.
		h3 Thickness
		p
		| Sea ice thickness increases over
		| time, and increases when winds and currents push the ice together.
		| The European Space Agency's
		a(href='http://en.wikipedia.org/wiki/Cryosat-2') &nbsp;Cryosat2&nbsp;
		| satellite
		| was launched in April 2010 on a quest to map the thickness and
		| shape of the Earth's polar ice cover. Its single instrument&mdash;a
		| SAR&sol;Interferometric Radar Altimeter&mdash;can measure the difference
		| between the height of the surface of sea ice and the water in open
		| leads, the &quot;freeboard&quot; of the ice. Since 7&sol;8 of the ice is below
		| the waterline, the computation of the thickness is fairly
		| simple.