extends layout

block content

	.row.banner
		.container
			h1 Historical Sea Ice Atlas
			p
				| Alaska sea ice patterns and trends, 1750&mdash;present
			div
				a.btn.btn-danger.btn-lg Explore
			p.attribution
				| Photos: (left) Northern hunters. (NOAA Arctic Image Gallery) (right) Beset by ice, the Baldwin-Ziegler 
				| North Pole expedition waits out the Arctic winter in 1901. (Library of Congress Prints)
	.row.boxes
		.container
			.col-md-4
				.thumbnail
					img(src="img/seaice.jpg",alt="")
					.caption
						h3 Ways to use this Atlas
						p History, planning, uncertainty and data considerations
						p
							a(href="/about").btn.btn-warning Learn More
			.col-md-4
				.thumbnail
					img(src="img/binarycode.jpg",alt="")
					.caption
						h3 Download data
						p Use historical sea ice data for your own analyses
						p
							a(href="/download").btn.btn-warning Get Data
			.col-md-4
				.thumbnail
					img(src="img/glossary_book.jpg",alt="")
					.caption
						h3 About sea ice
						p Common terms and phenomena explained
						p
							a(href="/glossary").btn.btn-warning Glossary
