// Pull in Bootstrap and override with our customizations as required

@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "./mixins.less";
@import "./variables.less";
@import (less) "../vendor/slider/css/slider.css";

body {
	padding-top: 50px;
}

#footer-logos {
  float:right;
  padding-bottom: 5px;
  li {
    display:inline;
    list-style-type:none;
    padding:0 25px 0 -35px;
  }
  a img {
    opacity:0.45;
    -webkit-transition:opacity 0.2s ease-in-out;
    -moz-transition:opacity 0.2s ease-in-out;
    -o-transition:opacity 0.2s ease-in-out;
    transition:opacity 0.2s ease-in-out;
  }
}
#footer-logos a:hover img, a:focus img {
  opacity:1;
}

ul.nav.navbar-nav li a {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

ul.nav.navbar-nav li a:hover, ul.nav.navbar-nav li a:focus  {
	background: rgba(255, 255, 255, 0.15);
	color: @brand-warning;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
	-webkit-transition-origin: center;
	transition-origin: center;
	-webkit-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-o-transform: scale(1.07);
	transform: scale(1.07);
}

// Used in index.jade
.jumbotron.banner {
	background-image: url(../img/ice_montage_1900_satellite_duo.jpg);
	background-repeat: no-repeat;
	min-height: 350px;
	position: relative; 
	padding: 15px 0 0 15px;
	font-size: 21px;
	font-weight: 200;
	color: @reverse-text-color;
	margin: 0;
	max-width: 100%;

	h1 {
		color: @reverse-text-color;
		line-height: .8;
		font-size: 2.4em;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}

	p {
		color: @reverse-text-color;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}

	small {
	color: #FFF6e5;
	font-size: 50%;
	margin: 0;
	line-height: 1;
	}

	.container {
	max-width: 100%;
	margin: 0 0 0 140px;
	padding-left: 0px;
	height: 325px;
	}

	a.btn.btn-primary.btn-lg {
		-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		-o-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		border: 1px solid @brand-info;
	}
		a:hover, a:focus {
			-webkit-transform-origin: center;
			-moz-transform-origin: center;
			-o-transform-origin: center;
			-webkit-transition-origin: center;
			transition-origin: center;
			-webkit-transform: scale(1.07);
			-moz-transform: scale(1.07);
			-o-transform: scale(1.07);
			transform: scale(1.07);
		}
}

.row.boxes .container {
	max-width: 100%;
	margin-top: 10px;

	a.btn.btn-primary {
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 1px solid @brand-info;
	}

	a:hover, a:focus {
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
		-o-transform-origin: center;
		-webkit-transition-origin: center;
		transition-origin: center;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		transform: scale(1.05);
		}
}

.well.well-small {
	margin: 10px 15px 0 15px;
	background-color: hsla(203, 40%, 80%, .3);
	
	img {
		float: right;
		margin: 0 0 0 15px;
	}
	p {
		font-size: 85%;
		margin: 5px 10px 0 10px;
		color: #3E454C;
	}
}

.thumbnail > img {
	display: block;
	height: auto;
	max-width: 100%;
	margin: 0;
	border-radius: 4px;

	p {
	color: @reverse-text-color;
	line-height: 1.2;
	margin: 5px 0 10px 0;
	}

	h3 {
	color: @reverse-text-color;
	margin: 0;
	}
}

//used in explore.jade and associated .ejs files
.list-group-item-text p, label {
	margin-bottom: 0;
	color: black;
}
.list-group-item-text small {
	margin-bottom: 40px;
	color: black;
}
.btn-group {
	margin-top: 5px;
}

#chartModalInfoButton2 {
	display: inline-block;
}
#mapwrapper {
	margin-top: -6px;
}
#map {
	height: 650px;
	margin-top: -6px;
}
#chartWrapper {
	display: none;
	background-color: hsla(203, 40%, 80%, .3);
	margin: 10px 0 0 0;
	padding: 5px 20px 20px 20px;
	border-radius: 12px;
}

#graphicWrapper {
	display: none;
	background-color: hsla(203, 40%, 80%, .3);
	margin: 25px 0 25px 0;
	padding: 5px 20px 0 20px;
	border-radius: 12px;
}
h3 {
	text-align: center;
}
#thresholdTarget {
	border: 3px solid red;
	background-color: yellow;
	border-radius: 12px;
	padding: 10px 20px 0 20px;
}

// We need to space out the threshold slider from the More Info button because the slider
// has a tooltip popup that overlaps the button.
#graphicWrapper > p {
	margin-bottom: 2em;
}

.slider-track {
	background-color: #878787;
	background-image: -moz-linear-gradient(top, #858585, #898989);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#858585), to(#898989));
	background-image: -webkit-linear-gradient(top, #858585, #898989);
	background-image: -o-linear-gradient(top, #858585, #898989);
	background-image: linear-gradient(to bottom, #858585, #898989);
}

.slider-handle {
	opacity: 1.0;
}

// Used in about.jade
.about .panel {
	width: 40ex;
	margin: 1em 0 1em 1em;
}

#ice-carousel {
	margin: 4em 0 1em 2em;
}

p.well {
	margin: 0 10px;
}

p.caption {
	color: #ABABB7;
	font-size: 90%;
	font-style: italic;
}

.panel.panel-primary.pull-right {
	width: 280px;
	box-shadow: 5px 5px 5px #74828f;
}

.panel img {
	margin-top: 10px;
}

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	border-left: 5px solid #1C70A6;

	p {
	font-size: 15.5px;
	font-weight: 300;
	line-height: 1.25;
	color: #1C70A6;
	}

	p:last-child {
	margin-bottom: 0;
	}
}

// Used in download.jade
p {
	a.btn.btn-warning {
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 1px solid @brand-info;

	}
	a:hover, a:focus {
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
		-o-transform-origin: center;
		-webkit-transition-origin: center;
		transition-origin: center;
		-webkit-transform: scale(1.07);
		-moz-transform: scale(1.07);
		-o-transform: scale(1.07);
		transform: scale(1.07);
	}
}

// Used in glossary.jade
#ice-carousel.carousel.slide.pull-right {
	margin-top: 0;
	width: 400px;
	box-shadow: 5px 5px 5px #74828f;
}
.panel.panel-info.pull-right {
        width: 350px;
        margin-left: 40px;
        clear: right;
	box-shadow: 5px 5px 5px #74828f;
	border: 3px solid #7ECEFD;

	p {
		font-size: 120%;
	}

	h4.panel-title {
		font-weight: bold;
	}
}

.carousel-caption {
	background-color: #3E454C;
	padding: 0 30px 20px 30px;
	margin: 0 -60px 0 -60px;
  	opacity: 0.7;
  	filter:alpha(opacity=70); // For IE8 and earlier 

	p {
		font-size: 90%;
	}
}

// Styles in the main app
#applicationWrapper {

	#mapWrapper {
		position: relative;
	}

	#legend {
		position: absolute;
		bottom: 3px;
		left: 3px;
		width: 250px;
		z-index: 1000;
	}

	// Sidebar formatting
	.affix {
		position: fixed;
		margin-top: 30px;
	}

	.affix-top {
		margin-top: 56px;
	}

	.affix-bottom {
		position: absolute;
	}

	// When on a narrow screen, the sidebar needs to be in normal flow always
	/* Medium devices (desktops, 992px and up) */
@media (max-width: @screen-sm-max) {
		.affix {
			position: static;
			margin-top: 1em;
		}

		.affix-top {
			margin-top: 1em;
		}

		.affix-bottom {
			position: static;
		}
	}

	#concentrationGraphControls, #thresholdGraphicControls {
		&:hover {
			cursor: pointer;
		}
	}

	#mapControls_ymd {
		margin-bottom: 15px;
	}

	#mapControls_latlon #latContainer, #mapControls_latlon #lonContainer {
		width: 110px;
		display: inline-block;
	}

	#mapControls_latlon label {
		width: 30px;
	}

	#mapControls_latlon #lat, #mapControls_latlon #lon {
		width: 60px;
		text-align: right;
	}

	#sequentialControls {
		margin-top: 15px;
	}

	#monthlyControls {
		margin-top: 20px;
	}
}

#thresholdTarget {
	margin-top: 1em;
}

#animationBuffering {
	position: relative;
	margin-top: 2ex;  padding: 1ex 2ex;
	img {
		position: relative;
		top: -5px;
	}
}

.list-group-item.active .list-group-item-text, .list-group-item.active:hover .list-group-item-text {
	color: darken(@list-group-active-bg, 40%);
}

.chart {
	
	path, line {
		fill: none;
		stroke: #333333;
		color: #333333;
		shape-rendering: crispEdges;
	}

	.bar {
		fill: rgb(171, 171, 183);
	}

}
