// Pull in Bootstrap and override with our customizations as required

@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "./mixins.less";
@import "./variables.less";
@import (less) "../vendor/slider/css/slider.css";

body {
	padding-top: 50px;
}

#footer-logos {
  float:right;
  padding-bottom: 5px;
  li {
    display:inline;
    list-style-type:none;
    padding:0 25px 0 -35px;
  }
  a img {
    opacity:0.45;
    -webkit-transition:opacity 0.2s ease-in-out;
    -moz-transition:opacity 0.2s ease-in-out;
    -o-transition:opacity 0.2s ease-in-out;
    transition:opacity 0.2s ease-in-out;
  }
}
#footer-logos a:hover img, a:focus img {
  opacity:1;
}

ul.nav.navbar-nav li a {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 14px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

ul.nav.navbar-nav li a:hover, ul.nav.navbar-nav li a:focus  {
	background: rgba(255, 255, 255, 0.15);
	color: @brand-warning;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
	-webkit-transition-origin: center;
	transition-origin: center;
	-webkit-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-o-transform: scale(1.07);
	transform: scale(1.07);
}

// Used in index.jade
.jumbotron.banner {
	background-image: url(../img/ice_montage_1900_satellite_duo.jpg);
	background-repeat: no-repeat;
	min-height: 350px;
	position: relative; 
	padding: 15px 0 0 15px;
	font-size: 21px;
	font-weight: 200;
	color: @reverse-text-color;
	margin: 0;
	max-width: 100%;

	h1 {
		color: @reverse-text-color;
		line-height: .8;
		font-size: 2.4em;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}

	p {
		color: @reverse-text-color;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}

	small {
	color: #FFF6e5;
	font-size: 50%;
	margin: 0;
	line-height: 1;
	}

	.container {
	max-width: 100%;
	margin: 0 0 0 140px;
	padding-left: 0px;
	height: 325px;
	}

	a.btn.btn-primary.btn-lg {
		-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		-o-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		border: 1px solid @brand-info;
	}
		a:hover, a:focus {
			-webkit-transform-origin: center;
			-moz-transform-origin: center;
			-o-transform-origin: center;
			-webkit-transition-origin: center;
			transition-origin: center;
			-webkit-transform: scale(1.07);
			-moz-transform: scale(1.07);
			-o-transform: scale(1.07);
			transform: scale(1.07);
		}
}

.row.boxes .container {
	max-width: 100%;
	margin-top: 10px;

	a.btn.btn-primary {
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 1px solid @brand-info;
	}

	a:hover, a:focus {
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
		-o-transform-origin: center;
		-webkit-transition-origin: center;
		transition-origin: center;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		transform: scale(1.05);
		}
}

.well.well-small {
	margin: 10px 15px 0 15px;
	background-color: hsla(203, 40%, 80%, .3);
	
	img {
		float: right;
		margin: 0 0 0 15px;
	}
	p {
		font-size: 85%;
		margin: 5px 10px 0 10px;
		color: #3E454C;
	}
}

.thumbnail > img {
	display: block;
	height: auto;
	max-width: 100%;
	margin: 0;
	border-radius: 4px;

	p {
	color: @reverse-text-color;
	line-height: 1.2;
	margin: 5px 0 10px 0;
	}

	h3 {
	color: @reverse-text-color;
	margin: 0;
	}
}

// Used in about.jade
.about .panel {
	width: 40ex;
	margin: 1em 0 1em 1em;
}

#ice-carousel {
	margin: 4em 0 1em 2em;
}

p.well {
	margin: 0 10px;
}

p.caption {
	color: #ABABB7;
	font-size: 90%;
	font-style: italic;
}

.panel.panel-primary.pull-right {
	width: 280px;
	box-shadow: 5px 5px 5px #74828f;
}

.panel img {
	margin-top: 10px;
}

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	border-left: 5px solid #1C70A6;

	p {
	font-size: 15.5px;
	font-weight: 300;
	line-height: 1.25;
	color: #1C70A6;
	}

	p:last-child {
	margin-bottom: 0;
	}
}

// Used in download.jade
p {
	a.btn.btn-warning {
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 1px solid @brand-info;

	}
	a:hover, a:focus {
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
		-o-transform-origin: center;
		-webkit-transition-origin: center;
		transition-origin: center;
		-webkit-transform: scale(1.07);
		-moz-transform: scale(1.07);
		-o-transform: scale(1.07);
		transform: scale(1.07);
	}
}

// Used in glossary.jade
#ice-carousel.carousel.slide.pull-right {
	margin-top: 0;
	width: 400px;
	box-shadow: 5px 5px 5px #74828f;
}
.panel.panel-info.pull-right {
        width: 350px;
        margin-left: 40px;
        clear: right;
	box-shadow: 5px 5px 5px #74828f;
	border: 3px solid #7ECEFD;

	p {
		font-size: 120%;
	}

	h4.panel-title {
		font-weight: bold;
	}
}

.carousel-caption {
	background-color: #3E454C;
	padding: 0 30px 20px 30px;
	margin: 0 -60px 0 -60px;
  	opacity: 0.7;
  	filter:alpha(opacity=70); // For IE8 and earlier 

	p {
		font-size: 90%;
	}
}

// Styles in the main app
#applicationWrapper {

	#mapWrapper {
		position: relative;
	}

	#legend {
		position: absolute;
		bottom: 28px;
		left: 3px;
		z-index: 1000;
	}

	// Used in sidebar
	.affix {
		position: fixed;
		top: 80px;
	}

	.affix-top {
		position: fixed;
		top: 60px;
	}

	#concentrationGraphControls, #thresholdGraphicControls {
		&:hover {
			cursor: pointer;
		}
	}

	#mapControls_ymd {
		margin-bottom: 15px;
	}

	#mapControls_latlon #lat, #mapControls_latlon #lon {
		width: 60px;
	}

	#mapControls_latlon #lat {
		margin-right: 15px;
	}
}

#thresholdTarget {
	margin-top: 1em;
}

.chart {
	
	path, line {
		fill: none;
		stroke: #333333;
		color: #333333;
		shape-rendering: crispEdges;
	}

	.bar {
		fill: #9cc5de;
	}

	.bar-running {
		fill: #9cc5de;
	}	
}
