@import "../../bower_components/bootstrap/less/variables.less";

// Overridden variables plop down here
@brand-primary:         rgb(255,124,0);
@text-color:            @gray-dark;
@reverse-text-color:            #fff6e5;

// Links
// -------------------------

@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);

// Typography
// -------------------------

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

@navbar-default-color:             @reverse-text-color;
@navbar-default-bg:                rgb(62,69,77);

// Navbar links
@navbar-default-link-color:                @reverse-text-color;
@navbar-default-link-active-color:         @brand-primary;
