<section class="row-fluid">
	<aside class="span3">
		<div id="mapControls"></div>
	</aside>
	<!--end 3-column left hand block-->

	<!--start 9-column map block-->
	<div class="span9">
		<div id="map" style="min-width: 512px; height: 700px"></div>
	</div>
</section>